.main-promote .info,
.main-promote .col-6 .sub-promote,
.header .cart{
	display: none;
}
.main-promote .col-6{
	width: 90%;margin-left: 5%;
}
.main-promote .cart{
	width: 91%;
	margin-left:4.5%;
}
.main-promote .cart .item{
	display: inline-block;
	width: 13%;
	padding: 15px 0;
}
.header .logo{
	width: 100%;
	text-align: center;
	font-size: 26px;
	font-weight: 600;
	letter-spacing: 1px;
}
.header .search-bar{
	width: 90%;
	margin-left: 5%;
	font-size: 12px;
	margin-top: 10px;
}
.header .cart a{
	width: 60%;
	float: left;
	margin-left: 20%;
	margin-top: 10px;
}
.cat-promote .item{
	width: 45%;
	margin-left: 5px;
    padding: 0 3px;
}
.container .cat-promote{
	margin-left: 10px;
}
.cat-promote .card{
	height: 150px;
	border-radius: 2px;
	margin-top: 10px;
}
.cat-promote .title:before{
	height: 22px;
	width: 4px;
	margin-right: 7px;
}
.cat-promote .title{
	font-size: 15px;
	margin-top: 10px;
}
.top-nav .item{
	padding: 3px 5px;
}
.footer{
	margin: 20px 0;
	padding: 10px 0;
	font-size: 12px;
}
.cat-promote .origiprice .oprice{
	font-size: 21px;
}
.cat-promote .preprice,
.cat-promote .origiprice,
.cat-promote .selled{
	width: 100%;
	text-align: center;
	line-height: 1.3;
}

.cat-promote .card-title{
	font-size: 12px;
}