body {
    font: normal 14px/1.5 Tahoma, Helvetica, arial, sans-serif;
    letter-spacing: 1px;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms;
}

a{
    text-decoration: none;
    color: #454545;
    display: inline-block;
}

a:hover{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.col-0-25,
.col-0-5,
.col-0-75,
.col-1,
.col-1-5,
.col-1-25,
.col-1-75,
.col-2-75,
.col-2,
.col-2-5,
.col-2-85,
.col-3,
.col-3-1,
.col-3-5,
.col-4,
.col-4-25,
.col-4-3,
.col-4-5,
.col-5,
.col-5-25,
.col-5-5,
.col-6,
.col-6-5,
.col-7,
.col-7-5,
.col-8,
.col-9,
.col-9-5{
    display: block;
    position: relative;
    min-height: 1px;
    float: left;
}

.col-0-25{
    width: 2.5%;
}

.col-0-5{
   width: 5%;
}

.col-0-75{
   width: 7.5%;
}

.col-1 {
    width: 10%
}

.col-1-25{
    width: 12.5%;
}

.col-1-75{
    width: 17.5%;
}

.col-1-5{
    width: 15%;
}

.col-2 {
    width: 20%
}

.col-2-5 {
    width: 25%;
}

.col-2-75{
    width: 27.5%;
}

.col-2-85{
    width: 28.5%;
}
.col-4-3{
    width: 43%;
}

.col-3 {
    width: 30%;
}

.col-3-1{
    width: 31%;
}

.col-3-5 {
    width: 35%;
}

.col-4 {
    width: 40%;
}

.col-4-25{
    width: 42.5%;
}

.col-4-5 {
    width: 45%;
}

.col-5 {
    width: 50%
}

.col-5-25{
    width: 52.5%
}

.col-5-5{
    width: 55%;
}

.col-6 {
    width: 60%
}

.col-6-5 {
    width: 65%;
}

.col-7 {
    width: 70%
}
.col-7-5{
    width: 75%
}

.col-8 {
    width: 80%
}

.col-9 {
    width: 90%
}

.col-9-5{
    width: 95%;
}
/*导航栏 设置z-index让导航栏放在最外层*/
.navigation{
    width: 100%;
    padding: 15px 0 10px 0;
    border-top: 5px solid #33CCCC;
    border-bottom: 1px solid #c4c3c3;
    position: fixed;
    z-index: 9999;
    background: #fff;
}

/*导航栏隔离*/
.border-gl{
    width: 100%;
    height: 120px;
}

/*清除浮动*/
.clearf:before,
.clearf:after {
    content: "";
    clear: both;
    display: block;
}

/*导航栏的按钮*/
.navigation .item{
    padding: 16px 12px;
    font-size: 13px;
}

.navigation .item:hover{
    color: #33CCCC;
}

/*导航栏的按钮*/
.navigation .button{
    font-size: 13px;
    border: 1px solid #33CCCC;
    border-radius: 15px;
    padding: 3px 9px;
    color: #33CCCC;
    margin-left: 8px;
}

/*主体部分*/
.content{
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #fff;
}
/*说明部分上方头部*/
.content .head-top{
    padding: 15px 0;
    background-color: #459e9e;
    font-weight: 600;
    margin-top: 3px;
}

/*水平居中的样式 */
.content .head-body .list-group,
.content .head-top{
    text-align:center;
}

.content .head-top .title{
    color: #ffffff;
    font-size: 20px;
}

.content .detail{
    color: #ffffff;
    font-size: 13px;
    display: block;
    margin: 20px 0 10px;
    font-weight: 500;
}
/*说明部分下方头部*/
.content .head-bottom{
    background-color: #ffffff;
    padding: 15px 0;
    font-weight: 600;
    text-align:center;
}

.head-bottom span{
    color: #000000;
    font-size: 19px;
}

.head-bottom .detail-top{
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
}

.head-bottom .detail-right{
    margin-left: 20px;
    display: inline-block;
}

.content .head-body .col-2-5{
    margin-top: 30px;
    padding: 20px;
    background-color: #F7F7F7;
}

.content .head-body .title{
    font-size: 17px;
    font-weight: 600;
    color: #000;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.content .head-body .list-group{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.content .head-body .list-group .item{
    font-size: 10px;
    display: inline-block;
    margin-bottom: 3px;
    display: block;
}
.content .head-body-bottom{
    text-align: center;
    margin-bottom: 40px;
}
.content .head-body-bottom .title{
   font-size: 25px;
   font-weight: 600;
   margin-top: 40px;
}

.content .head-body-bottom .body-datail{
    font-size: 13px;
}

.content .col-left{
    border: 1px solid #ffffff;
    border-radius: 8px;
    text-align: center;
    padding: 10px 0 30px;

}

.content .col-left:hover{
    background-color: #33CCCC;
}

.content .left-img{
    width: 35%;
    padding: 37px 23px 32px;
    margin: 20px 0 10px;
    margin-left: 32%;
    background-color: #ffffff;
    border-radius: 50%;
}

.content .col-left .title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

/*主题颜色*/
.theme-color{
    color: #33CCCC;
}

.content .div-jia{
    margin-top: 100px;
}

.content .img-jia{
    margin-left: 30%;
}

.content .zxty-div{
    width: 100%;
    text-align: center;
}

/*下面是我定义的工具类*/
.zxty{
    font-size: 25px;
    font-weight: 600;
    display: inline-block;
    margin-top: 30px;
}

.text-center{
    text-align: center;
}

.center-title{
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0 60px;
    display: inline-block;
}

.margin-b15{
    display: inline-block;
    margin-bottom: 15px;
}

.margin-b10{
    display: inline-block;
    margin-bottom: 10px;
}
.margin-b30{
    display: inline-block;
    margin-bottom: 30px;
}

.big-title{
    font-size: 26px;
    font-weight: 600;
    display: block;
}

.pad10{
    padding: 10px;
}

.small-title{
    font-weight: 600;
    font-style: 16px;
    display: block;
}

.margin-t5{
    display: inline-block;
    margin-top: 5px;
}

.fz-11{
    font-size: 10px;
    color: #333333;
}

.the-small-title{
    font-weight: 600;
    font-style: 16px;
    display: block;
    margin: 5px 0 15px;
}
.margin-t30{
    margin-top: 30px;
}

.margin-t45{
    margin-top: 45px;
}

.content .out-nested{
    height: 170px;
}

.content .center-bottom-2{
    width: 100%;
    background-color: #459e9e;
    margin-top: 45px;
    border-radius: 3px;
    padding: 50px 0;
}

.content .center-bottom-3{
    width: 100%;
    background-color: yellow;
    margin-top: 10px;
    border-radius: 3px;
    padding: 40px 0;
}

.content .header-title{
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 5px;
}

.content .header-title-bot{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

.header-title-bot{
    font-size: 25px;
    color: #000;
    font-weight: 600;
}

.content .header-title-deatail{
    font-size: 12px;
    color: #fff;
}

.content .header-title-deatail-bot{
    font-size: 13px;
    color: #000;
    margin-right: 10px;
    display: inline-block;
}

.color-yellow{
    background-color: yellow;
}

.margin-b45{
    margin-bottom: 45px;
}

.content .but-left{
    border-radius: 4px;
    border: 1px solid #006633;
    padding: 8px 40px;
    background-color: #006633;
    font-size: 15px;
    color: #fff;
}

.content .but-right{
    border-radius: 4px;
    border: 1px solid #2D8284;
    padding: 8px 40px;
    background-color: #2D8284;
    font-size: 15px;
    color: #fff;
}

.content .but-left:hover{
    background-color: #024423;
}
.content .but-right:hover{
    background-color: #287072
}

.footer{
    text-align: center;
    color: #999;
    padding: 20px 0;
    margin-top: 10px;
}

.center-bottom{
    width: 100%;
    background-color: #33CCCC;
    margin-top: 20px;
}

.padding20{
    padding: 20px 40px;
}

.small-title{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}
.white-div{
    background-color: #fff;
    padding: 20px;
    width: 90%;
    margin-left: 5%;
}
.container .login-but{
    background-color: #33CCCC;
    font-size: 16px;
    color: #ffffff !important;
}

.login-but:hover{
    color: #ffffff;
    background-color: #2fb8b8;
}

.login-set{
    width: 100%;
    text-align: center;
    margin-top: 10px;

}

.login-set-zd{
    color: #333;
    display: inline-block;
}

.form-control{
    width: 95%;
    float: left;
}

.wjmm{
    color: #3b76d8;
    display: block;
    margin-bottom: 5px;
}

.control-label{
    display: block;
}

.error_img{
    max-width: 17px;
    max-height: 17px;
}

.logo{
    background-image: url(../img/logo.png);
    width: 200px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}

.phone_input{
    width: 80% !important;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    float: left;
    outline: 0;
}

.hqyzm{
    width: 20%;
    display: block;
    float: left;
    background-color: #33CCCC;
    color: #fff;
    padding: 7px 6px;
    cursor: pointer;
    margin-bottom: 0;
    border-radius: 1px;
}

.hqyzm:hover{
    background-color: #2fb8b8;
}

.border-rad{
    border: 1px solid #ccc;
    border-radius: 4px;
}

.yzm_text{
    font-size: 16px;
    padding: 10px 0 0;
    display: none;
}

.yzm_style{
    color: #6e6e6e;
    font-weight: 400;
    font-size: 14px;
}